# SQL Server
MSSQL_SA_PASSWORD='YourStrong!Passw0rd

# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Production
App__Name=ilin1
App__Version=1.0.0

# Connection string 
ConnectionStrings__Mssql=Server=mssql,1433;Database=IsLabDb;User Id=sa;Password='YourStrong!Passw0rd;TrustServerCertificate=True;
